@page
@model Apoteka.Pages.ProfilApotekeModel
@{
    var photoPath = "~/images/Logo.png";
    @if (Model.Apoteka.Slika != "")
    {
        photoPath = "~/images/" + Model.Apoteka.Slika;
    }
}
@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager


<link href="~/css/ProfilApoteke.css" rel="stylesheet" />

<div class="row sadrzaj">
        <div class="col-md-4">
            <div class="text-center">
                <form method="post">
                <img src="@photoPath" class="avatar img-circle" alt="avatar" asp-append-version="true" style="border-radius: 50%; width: 250px; height:250px; margin-bottom:25px">


                @if (UserManager.GetUserName(User) == Model.Vlasnik.UserName)
                {
                    <label hidden asp-for="Apoteka.ApotekaID"></label>
                    <input hidden asp-for="Apoteka.ApotekaID" class="form-control" />
                    <button type="button" class="btn btn-outline-success" id="DodajProizvodbtn" data-toggle="modal" data-target="#dodajProizvod">Dodaj proizvod</button>
                    <button type="button" class="btn btn-outline-success" id="Izmenibtn">Izmeni informacije i cene proizvoda</button>
                    <button type="submit" class="btn btn-outline-success" onclick="otkazi()" id="Uklonibtn" asp-page-handler="UkloniApoteku">Ukloni apoteku</button>
                    <button type="button" class="btn btn-outline-success" id="ZahtevajProizvodbtn" data-toggle="modal" data-target="#zahtevajProizvod">Zahtevaj novi proizvod</button>
                }
                </form>
            </div>
        </div>
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <h4>Profil apoteke</h4>
            <hr />
            <div class="form-group">
                <label hidden asp-for="Apoteka.ApotekaID"></label>
                <input hidden asp-for="Apoteka.ApotekaID" class="form-control" />
            </div>
            <div class="form-group">
                <label hidden asp-for="Apoteka.Slika"></label>
                <input hidden asp-for="Apoteka.Slika" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Apoteka.Naziv">Naziv apoteke: </label>
                <input asp-for="Apoteka.Naziv" class="form-control izmena" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Apoteka.Email">Email: </label>
                <input asp-for="Apoteka.Email" class="form-control izmena" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Apoteka.Direktor">Direktor: </label>
                <input asp-for="Apoteka.Direktor" class="form-control izmena" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Apoteka.BrojTelefona">Broj telefona: </label>
                <input asp-for="Apoteka.BrojTelefona" class="form-control izmena" disabled />
            </div>
            <div class="form-group sacuvaj" hidden>
                <label>Vas novi logo: </label>
                <div class="custom-file" style="text-align:left; white-space:nowrap;">
                    <input asp-for="Photo" class="custom-file-input form-control" />
                    <label class="custom-file-label">Izaberite fotografiju...</label>
                </div>
            </div>

            @if (@Model.Lokacije.Count > 0)
            {
                <div class="form-group">
                    <label for="exampleFormControlInput1">Broj lokacija: </label>
                    <label for="exampleFormControlInput1" id="brLok">@Model.Lokacije.Count </label>
                    <input id="broj" asp-for="@Model.Lokacije.Count" hidden />
                    <br />
                    <button onclick="dodajLokaciju()" type="button" hidden class="btn btn-outline-success sacuvaj" value="CREATE" id="btnNoOfRec" style="margin: 5px 0 25px 0;">Dodaj lokaciju</button>
                    <table>
                        <thead style="color: #8c8c8c;">
                        <th>Grad</th>
                        <th>Ulica i broj</th>
                        <th>Broj telefona</th>
                        </thead>
                        <tbody id="tbody">


                            @for (var i = 0; i < Model.Lokacije.Count; i++)
                            {
                                var a = i + 1;
                                <tr>
                                    <td><input type="text" id="bb_@a" class="form-control" asp-for="@Model.Lokacije[i].Grad" disabled></td>
                                    <td><input type="text" id="cc_@a" class="form-control" asp-for="@Model.Lokacije[i].UlicaBr" disabled></td>
                                    <td><input type="text" id="dd_@a" class="form-control" asp-for="@Model.Lokacije[i].BrojTelefona" disabled></td>
                                    <input type="text" id="aa_@a" class="form-control" asp-for="@Model.Lokacije[i].ID" hidden>
                                    <td> <button onclick="otkazi()" type="submit" asp-route-idlok="@Model.Lokacije[i].ID" asp-page-handler="UkloniLokaciju" class="btn btn-outline-danger sacuvaj" hidden><ion-icon name="trash-outline" style="vertical-align:-2px;"></ion-icon></button></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            }

            <!-- Modal box za dodavanje proizvoda -->
            <div class="modal fade" id="dodajProizvod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Dodaj proizvod</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="TipProizvoda">Izaberite proizvod: </label>
                                <select class="form-control zahtev" asp-for="@Model.IzabraniProizvod" asp-items="@Model.SviProizvodi" id="TipProizvoda" required>
                                    <option value="" selected disabled hidden>Prikazi proizvode:</option>
                                </select>
                                @for (var i = 0; i < @Model.Lokacije.Count; i++)
                                {
                                    var r = "Lokacije_" + i + "__Sel";
                                    <div class="row lokacije">
                                        <div class="col-6 checkbox">
                                            @Html.CheckBoxFor(m => m.Lokacije[i].Sel)
                                            <label for="@r">@Model.Lokacije[i].Grad - @Model.Lokacije[i].UlicaBr</label>
                                        </div>
                                        <div class="col-6">
                                            <input class="form-control cena" type="number" id="@i" asp-for="@Model.Cene" placeholder="Cena" />
                                            <span style="color: #888888;">din.</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="otkazi()" class="btn btn-outline-dark" data-dismiss="modal">Poništi</button>
                            <button type="submit" onclick="promeni()" asp-page-handler="DodajProizvod" class="btn btn-success">Potvrdi</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal box za dodavanje zauzetih termina -->
            <div class="modal fade" id="zahtevajProizvod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Zahtevaj novi proizvod</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label asp-for="ZahtevaniProizvod.Naziv">Naziv proizvoda: </label>
                                <input asp-for="ZahtevaniProizvod.Naziv" class="form-control zahtev1" required />
                            </div>
                            <div class="form-group">
                                <label asp-for="ZahtevaniProizvod.Kategorija">Kategorija proizvoda (INN): </label>
                                <input asp-for="ZahtevaniProizvod.Kategorija" class="form-control zahtev1" required />
                            </div>
                            <div class="form-group">
                                <label asp-for="ZahtevaniProizvod.Proizvodjac">Proizvodjac: </label>
                                <input asp-for="ZahtevaniProizvod.Proizvodjac" class="form-control zahtev1" required />
                            </div>
                            <div class="form-group">
                                <label asp-for="ZahtevaniProizvod.Opis">Opis: </label>
                                <input asp-for="ZahtevaniProizvod.Opis" class="form-control zahtev1" required />
                            </div>
                            <div class="form-group">
                                <label>Fotografija proizvoda: </label>
                                <div class="custom-file" style="text-align:left; white-space:nowrap;">
                                    <input asp-for="PhotoProizvod" class="custom-file-input cusfileinput form-control" />
                                    <label class="custom-file-label cusfilelabel">Izaberite fotografiju...</label>
                                </div>
                            </div>
                            @for (var i = 0; i < @Model.Lokacije.Count; i++)
                            {
                                var r = "Lokacije_" + i + "__SelZah";
                                <div class="row lokacije">
                                    <div class="col-6 checkbox">
                                        <td class="js-export-checkbox">
                                            @Html.CheckBoxFor(m => m.Lokacije[i].SelZah)
                                        </td>
                                        <label for="@r">@Model.Lokacije[i].Grad - @Model.Lokacije[i].UlicaBr</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control cena" type="number" id="ml_@i" asp-for="@Model.Cene" placeholder="Cena"/>
                                        <span style="color: #888888;">din.</span>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="otkazi()" class="btn btn-outline-dark" data-dismiss="modal">Poništi</button>
                            <button type="submit" onclick="promeni1()" asp-page-handler="ZahtevajProizvod" class="btn btn-success">Potvrdi</button>
                        </div>
                    </div>
                </div>
            </div>

            @if (@Model.MojeLokacije.Count > 0)
            {
                <label>Proizvodi po lokacijama: </label>
                @for (var i = 0; i < Model.MojeLokacije.Count; i++)
                {

                    <button type="button" class="accordion">@Model.MojeLokacije[i].Grad - @Model.MojeLokacije[i].UlicaBr - @Model.MojeLokacije[i].BrojTelefona</button>
                    <div class="panel">
                        <table style="margin-bottom: 10px;">
                            <thead style="color: #8c8c8c;">
                            <th>Naziv</th>
                            <th>Kategorija</th>
                            <th>Proizvodjac</th>
                            <th>Cena(din.)</th>
                            </thead>
                            <tbody id="tbody">
                                @for (var j = 0; j < Model.Imas.Count; j++)
                                {
                                    @if (Model.MojeLokacije[i] == Model.Imas[j].LokacijaVeza)
                                    {
                                        var a = i + 10;
                                        <tr>
                                            <td>
                                                <input type="text" id="a_@a" class="form-control" asp-for="@Model.Imas[j].ProizvodVeza.Naziv" disabled>
                                            </td>
                                            <td>
                                                <input type="text" id="b_@a" class="form-control" asp-for="@Model.Imas[j].ProizvodVeza.Kategorija" disabled>
                                            </td>
                                            <td>
                                                <input type="text" id="c_@a" class="form-control" asp-for="@Model.Imas[j].ProizvodVeza.Proizvodjac" disabled>
                                            </td>
                                            <td>
                                                <input type="text" id="e_@a" class="form-control izmena" asp-for="@Model.Imas[j].Cena" disabled>
                                            </td>
                                            <td>
                                                <input type="text" id="h_@a" class="form-control" asp-for="@Model.Imas[j].VezaID" hidden>
                                            </td>
                                            <td>
                                                <button type="submit" onclick="otkazi()" id="g_@a" asp-route-idVeza="@Model.Imas[j].VezaID" asp-page-handler="UkloniVezu" class="btn btn-outline-danger sacuvaj" hidden><ion-icon name="trash-outline" style="vertical-align:-2px;"></ion-icon></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                }
            }


            <button type="submit" onclick="otkazi()" class="btn btn-success sacuvaj dugme" id="Sacuvajbtn" asp-page-handler="SacuvajApoteku" hidden>Sacuvaj</button>
        </form>

    </div>
</div>

<script src="~/temp/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#zahtevajProizvod , #dodajProizvod').on('hidden.bs.modal', function (e) {
            $(this)
                .find("input,textarea,select")
                .val('')
                .end()
                .find("input[type=checkbox], input[type=radio]")
                .prop("checked", "")
                .end()
        });

        $("#Izmenibtn").click(function () {
            var r = document.getElementsByClassName("izmena");
            for (var i = 0; i < r.length; i++) {
                if (r[i].hasAttribute("disabled")) {
                    r[i].removeAttribute("disabled");
                }
                else
                    r[i].disabled = true;
            }
            var sacuvaj = document.getElementsByClassName("sacuvaj");
            for (var i = 0; i < sacuvaj.length; i++) {
                if (sacuvaj[i].hasAttribute("hidden"))
                    sacuvaj[i].removeAttribute("hidden");
                else
                    sacuvaj[i].hidden = true;
            }
        });

        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });

        $('.cusfileinput').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.cusfilelabel').html(fileName);
        });


    });

    function dodajLokaciju() {
        var brLok = document.getElementById('brLok').innerHTML;
        brLok++;
        document.getElementById('brLok').innerHTML = brLok;

        var broj = document.getElementById('broj');
        broj.value = brLok;

        var tbl = "";
        tbl += "<tr>" +
            "<td>" +
            "<input type='text' id='bb_" + brLok + "' class=" + " form-control" + " name='NoviGradovi' />" +
            "</td>" +
            "<td>" +
            "<input type='text' id='cc_" + brLok + "' class=" + " form-control" + " name='NoveAdrese'/>" +
            "</td>" +
            "<td>" +
            "<input type='text' id='dd_" + brLok + "' class=" + " form-control" + " name='NoviBrojevi'/>" +
            "</td>" +
            " <td>" +
            " <button type='button' onclick='obrisi(" + brLok + ",this)' class='btn btn-outline-danger' ><ion-icon name='trash-outline' style='vertical-align:-2px;'></ion-icon></button>" +
            "</td>" +
            "</tr>";

        $('#tbody').append(tbl);

    }


    function obrisi(idLok, dugme) {
        var brLok = document.getElementById('brLok').innerHTML;
        brLok--;
        document.getElementById('brLok').innerHTML = brLok;

        var broj = document.getElementById('broj');
        broj.value = brLok;

        var grad = document.getElementById("bb_" + idLok);
        var adresa = document.getElementById("cc_" + idLok);
        var broj = document.getElementById("dd_" + idLok);

        grad.removeAttribute('name');
        adresa.removeAttribute('name');
        broj.removeAttribute('name');

        grad.hidden = true;

        adresa.hidden = true;
        broj.hidden = true;
        dugme.hidden = true;
    }

</script>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
<script src="~/temp/jquery-3.4.1.min.js"></script>
<script>
    function otkazi() {
        var r = document.getElementsByClassName("zahtev1");
        for (var i = 0; i < r.length; i++) {
            if (r[i].hasAttribute("required")) {
                r[i].removeAttribute("required");
            }
        }
        r = document.getElementsByClassName("zahtev");
        for (var i = 0; i < r.length; i++) {
            if (r[i].hasAttribute("required")) {
                r[i].removeAttribute("required");
            }
        }
    }

    function promeni() {
        var r = document.getElementsByClassName("zahtev1");
        for (var i = 0; i < r.length; i++) {
            if (r[i].hasAttribute("required")) {
                r[i].removeAttribute("required");
            }
        }

        r = document.getElementsByClassName("zahtev");
        for (var i = 0; i < r.length; i++) {
            r[i].setAttribute("required", "true");
        }

    }

    function promeni1() {
        var r = document.getElementsByClassName("zahtev");
        for (var i = 0; i < r.length; i++) {
            if (r[i].hasAttribute("required")) {
                r[i].removeAttribute("required");
            }
        }

        r = document.getElementsByClassName("zahtev1");
        for (var i = 0; i < r.length; i++) {
            r[i].setAttribute("required", "true");
        }
    }
</script>

