@page
@model Apoteka.Pages.ProfilApotekeModel
@{
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Profil apoteke</h4>
            <hr />
            <button type="button" class="btn btn-primary" id="DodajProizvodbtn" data-toggle="modal" data-target="#dodajProizvod">Izmeni apoteku</button>
            <button type="button" class="btn btn-primary" id="Izmenibtn">Izmeni apoteku</button>
            <button type="submit" class="btn btn-primary" id="Uklonibtn" asp-page-handler="UkloniApoteku">Ukloni apoteku</button>
            <div class="form-group">
                <label hidden asp-for="Apoteka.ApotekaID"></label>
                <input hidden asp-for="Apoteka.ApotekaID" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Apoteka.Naziv">Naziv apoteke: </label>
                <input asp-for="Apoteka.Naziv" class="form-control izmena" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Apoteka.Email">Email: </label>
                <input asp-for="Apoteka.Email" class="form-control izmena" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Apoteka.Direktor">Direktor: </label>
                <input asp-for="Apoteka.Direktor" class="form-control izmena" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Apoteka.BrojTelefona">Broj telefona: </label>
                <input asp-for="Apoteka.BrojTelefona" class="form-control izmena" disabled />
            </div>


            <div class="form-group">
                <label for="exampleFormControlInput1">Broj članova: </label>
                <label for="exampleFormControlInput1" id="brClanova">@Model.Lokacije.Count </label>
                <input id="broj" asp-for="@Model.Lokacije.Count" hidden />
                <br />
                <button onclick="dodajClana()" type="button" hidden class="btn btn-outline-dark sacuvaj" value="CREATE" id="btnNoOfRec" style="margin-top: 5px;">Dodaj člana</button>
                <table>
                    <thead style="color: #8c8c8c;">
                    <th>Grad</th>
                    <th>Ulica i broj</th>
                    <th>Broj telefona</th>
                    </thead>
                    <tbody id="tbody">


                        @for (var i = 0; i < Model.Lokacije.Count; i++)
                        {
                            var a = i + 1;
                            <tr>
                                <td><input type="text" id="aa_@a" class="form-control" asp-for="@Model.Lokacije[i].ID" hidden></td>
                                <td><input type="text" id="bb_@a" class="form-control" asp-for="@Model.Lokacije[i].Grad" disabled></td>
                                <td><input type="text" id="cc_@a" class="form-control" asp-for="@Model.Lokacije[i].UlicaBr" disabled></td>
                                <td><input type="text" id="dd_@a" class="form-control" asp-for="@Model.Lokacije[i].BrojTelefona" disabled></td>
                                <td> <button type="submit" onclick="obrisi(@a,this)" asp-route-idlok="@Model.Lokacije[i].ID" asp-page-handler="UkloniLokaciju" class="btn btn-outline-dark" style="margin-top: 5px;"><ion-icon name="trash-outline" style="vertical-align:-2px;"></ion-icon></button></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- Modal box za dodavanje zauzetih termina -->
            <div class="modal fade" id="dodajProizvod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Dodaj proizvod</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">

                                <label for="TipProslaveT">Izaberite proizvod: </label>
                                <select class="form-control zahtev" asp-for="@Model.IzabraniProizvod" asp-items="@Model.SviProizvodi" id="TipProslaveT" >
                                    <option value="" selected disabled hidden>Izaberite proizvod:</option>
                                </select>
                                @for (var i = 0; i < @Model.Lokacije.Count; i++)
                                {
                                    var r = "Lokacije_" + i + "__Sel";
                                    <div>
                                        <td class="js-export-checkbox">
                                            @Html.CheckBoxFor(m => m.Lokacije[i].Sel)
                                        </td>
                                        <label for="@r">@Model.Lokacije[i].Grad - @Model.Lokacije[i].UlicaBr</label>
                                        <br />
                                        <label> Cena: </label> <input class="form-control" type="number" id="@i" asp-for="@Model.Cene" />
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="otkazi()" class="btn btn-secondary" data-dismiss="modal">Poništi</button>
                            <button type="submit" asp-page-handler="DodajProizvod" class="btn btn-primary">Potvrdi</button>
                        </div>
                    </div>
                </div>
            </div>



           
            <div class="form-group">
                <table>
                    <thead style="color: #8c8c8c;">
                    <th>Naziv leka</th>
                    <th>Kategorija</th>
                    <th>Proizvodjac</th>
                    <th>Cena</th>
                    <th>Lokacija</th>
                    <th>Kontakt</th>
                    </thead>
                    <tbody id="tbody">
                        @for(var i =0;i<Model.Imas.Count;i++)
                        {
                            var a = i + 1;
                            <tr>
                               <td><input type="text" id="a_@a" class="form-control" asp-for="@Model.Imas[i].ProizvodVeza.Naziv" disabled></td>
                               <td><input type="text" id="b_@a" class="form-control"  asp-for="@Model.Imas[i].ProizvodVeza.Kategorija" disabled></td>
                                <td><input type="text" id="c_@a" class="form-control"  asp-for="@Model.Imas[i].ProizvodVeza.Proizvodjac" disabled></td>
                               <td><input type="text" id="d_@a" class="form-control"  asp-for="@Model.Imas[i].ProizvodVeza.Proizvodjac" disabled></td>
                                <td><input type="text" id="e_@a" class="form-control" asp-for="@Model.Imas[i].Cena" disabled></td>
                                <td><input type="text" id="f_@a" class="form-control"  asp-for="@Model.Imas[i].LokacijaVeza.UlicaBr" disabled></td>

                                <td><input type="text" id="h_@a" class="form-control" asp-for="@Model.Imas[i].VezaID"  hidden></td>
                                <td> <button type="submit"  id="g_@a" asp-route-idVeza="@Model.Imas[i].VezaID" asp-page-handler="UkloniVezu" class="btn btn-outline-dark" style="margin-top: 5px;"><ion-icon name="trash-outline" style="vertical-align:-2px;"></ion-icon></button></td>
                            </tr>
                        }
                       



                    </tbody>
                </table>
            </div>


            <button type="submit" class="btn btn-primary sacuvaj" id="Sacuvajbtn" asp-page-handler="SacuvajApoteku" hidden>Sacuvaj</button> 
        </form>

    </div>
</div>

<script src="~/temp/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        
        $("#Izmenibtn").click(function () {
            var r = document.getElementsByClassName("izmena");
            for (var i = 0; i < r.length; i++) {
                r[i].removeAttribute("disabled");
            }
            var sacuvaj = document.getElementsByClassName("sacuvaj");
            for (var i = 0; i < sacuvaj.length; i++) {
                sacuvaj[i].removeAttribute("hidden");
            }
        });
    });

    function dodajClana() {
        var brLok = document.getElementById('brClanova').innerHTML;
        brLok++;
        document.getElementById('brClanova').innerHTML = brLok;

        var broj = document.getElementById('broj');
        broj.value = brLok;

        var tbl = "";
        tbl += "<tr>" +
            "<td>" +
            "<input type='text' id='" + brLok + "' class=" + " form-control" + " name='NoviGradovi' />" +
            "</td>" +
            "<td>" +
            "<input type='text' id='a_" + brLok + "' class=" + " form-control" + " name='NoveAdrese'/>" +
            "</td>" +
            "<td>" +
            "<input type='text' id='b_" + brLok + "' class=" + " form-control" + " name='NoviBrojevi'/>" +
            "</td>" +
            " <td>" +
            " <button type='button' onclick='obrisi(" + brLok + ",this)' class='btn btn-outline-dark' style='margin-top: 5px;'><ion-icon name='trash-outline' style='vertical-align:-2px;'></ion-icon></button>" +
            "</td>" +
            "</tr>";

        $('#tbody').append(tbl);

    }

    function obrisi(idLok, dugme) {
        var brLok = document.getElementById('brClanova').innerHTML;
        brLok--;
        document.getElementById('brClanova').innerHTML = brLok;

        var broj = document.getElementById('broj');
        broj.value = brLok;


        var grad = document.getElementById(idLok);
        var adresa = document.getElementById("a_" + idLok);
        var broj = document.getElementById("b_" + idLok);

        grad.setAttribute('id', "obrisano");
        adresa.setAttribute('id', "obrisan");
        broj.setAttribute('id', "obrisani");

        grad.hidden = true;

        adresa.hidden = true;
        broj.hidden = true;
        dugme.hidden = true;
    }
</script>

