@page
@model Apoteka.Pages.ProfilApotekeModel
@{
    var photoPath = "~/imagesApoteke/" + (Model.Apoteka.Slika ?? "Logo.png");
}
<link href="~/css/ProfilApoteke.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <h4>Profil apoteke</h4>
            <hr />

            <div class="text-center">
                <img src="@photoPath" class="avatar img-circle" alt="avatar" asp-append-version="true" style=" border-radius: 5%; width: 260px; height:260px; padding-bottom:10px">
            </div>

            <button type="button" class="btn btn-primary" id="DodajProizvodbtn" data-toggle="modal" data-target="#dodajProizvod">Dodaj proizvod</button>
            <button type="button" class="btn btn-primary" id="Izmenibtn">Izmeni informacije i cene proizvoda</button>
            <button type="submit" class="btn btn-primary" id="Uklonibtn" asp-page-handler="UkloniApoteku">Ukloni apoteku</button>
            <div class="form-group">
                <label hidden asp-for="Apoteka.ApotekaID"></label>
                <input hidden asp-for="Apoteka.ApotekaID" class="form-control" />
            </div>
            <div class="form-group">
                <label hidden asp-for="Apoteka.Slika"></label>
                <input hidden asp-for="Apoteka.Slika" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Apoteka.Naziv">Naziv apoteke: </label>
                <input asp-for="Apoteka.Naziv" class="form-control izmena" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Apoteka.Email">Email: </label>
                <input asp-for="Apoteka.Email" class="form-control izmena" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Apoteka.Direktor">Direktor: </label>
                <input asp-for="Apoteka.Direktor" class="form-control izmena" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Apoteka.BrojTelefona">Broj telefona: </label>
                <input asp-for="Apoteka.BrojTelefona" class="form-control izmena" disabled />
            </div>
            <div class="form-group">
                <label>Vas novi logo: </label>
                <div class="custom-file" style="text-align:left; white-space:nowrap;">
                    <input asp-for="Photo" class="custom-file-input form-control" />
                    <label class="custom-file-label">Izaberite fotografiju...</label>
                </div>
            </div>

            @if (@Model.Lokacije.Count > 0)
            {
                <div class="form-group">
                    <label for="exampleFormControlInput1">Broj lokacija: </label>
                    <label for="exampleFormControlInput1" id="brLok">@Model.Lokacije.Count </label>
                    <input id="broj" asp-for="@Model.Lokacije.Count" hidden />
                    <br />
                    <button onclick="dodajLokaciju()" type="button" hidden class="btn btn-outline-dark sacuvaj" value="CREATE" id="btnNoOfRec" style="margin-top: 5px;">Dodaj lokaciju</button>
                    <table>
                        <thead style="color: #8c8c8c;">
                        <th>Grad</th>
                        <th>Ulica i broj</th>
                        <th>Broj telefona</th>
                        </thead>
                        <tbody id="tbody">


                            @for (var i = 0; i < Model.Lokacije.Count; i++)
                            {
                                var a = i + 1;
                                <tr>
                                    <td><input type="text" id="bb_@a" class="form-control" asp-for="@Model.Lokacije[i].Grad" disabled></td>
                                    <td><input type="text" id="cc_@a" class="form-control" asp-for="@Model.Lokacije[i].UlicaBr" disabled></td>
                                    <td><input type="text" id="dd_@a" class="form-control" asp-for="@Model.Lokacije[i].BrojTelefona" disabled></td>
                                    <input type="text" id="aa_@a" class="form-control" asp-for="@Model.Lokacije[i].ID" hidden>
                                    <td> <button type="submit" onclick="obrisi(@a,this)" asp-route-idlok="@Model.Lokacije[i].ID" asp-page-handler="UkloniLokaciju" class="btn btn-outline-dark" style="margin-top: 5px;"><ion-icon name="trash-outline" style="vertical-align:-2px;"></ion-icon></button></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            }

            <!-- Modal box za dodavanje zauzetih termina -->
            <div class="modal fade" id="dodajProizvod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Dodaj proizvod</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">

                                <label for="TipProslaveT">Izaberite proizvod: </label>
                                <select class="form-control zahtev" asp-for="@Model.IzabraniProizvod" asp-items="@Model.SviProizvodi" id="TipProslaveT">
                                    <option value="" selected disabled hidden>Izaberite proizvod:</option>
                                </select>
                                @for (var i = 0; i < @Model.Lokacije.Count; i++)
                                {
                                    var r = "Lokacije_" + i + "__Sel";
                                    <div>
                                        <td class="js-export-checkbox">
                                            @Html.CheckBoxFor(m => m.Lokacije[i].Sel)
                                        </td>
                                        <label for="@r">@Model.Lokacije[i].Grad - @Model.Lokacije[i].UlicaBr</label>
                                        <br />
                                        <label> Cena: </label> <input class="form-control" type="number" id="@i" asp-for="@Model.Cene" />
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="otkazi()" class="btn btn-secondary" data-dismiss="modal">Poništi</button>
                            <button type="submit" asp-page-handler="DodajProizvod" class="btn btn-primary">Potvrdi</button>
                        </div>
                    </div>
                </div>
            </div>

            @for (var i = 0; i < Model.MojeLokacije.Count; i++)
            {
                <button type="button" class="accordion">@Model.MojeLokacije[i].Grad - @Model.MojeLokacije[i].UlicaBr - @Model.MojeLokacije[i].BrojTelefona</button>
                <div class="panel">
                    @for (var j = 0; j < Model.Imas.Count; j++)
                    {
                        @if (Model.MojeLokacije[i] == Model.Imas[j].LokacijaVeza)
                        {
                            var a = i + 10;
                            <div class="mojdiv">
                                <input type="text" id="a_@a" class="form-control" asp-for="@Model.Imas[j].ProizvodVeza.Naziv" disabled>
                                <input type="text" id="b_@a" class="form-control" asp-for="@Model.Imas[j].ProizvodVeza.Kategorija" disabled>
                                <input type="text" id="c_@a" class="form-control" asp-for="@Model.Imas[j].ProizvodVeza.Proizvodjac" disabled>
                                <input type="text" id="e_@a" class="form-control izmena" asp-for="@Model.Imas[j].Cena" disabled>
                                <input type="text" id="h_@a" class="form-control" asp-for="@Model.Imas[j].VezaID" hidden>
                                <button type="submit" id="g_@a" asp-route-idVeza="@Model.Imas[j].VezaID" asp-page-handler="UkloniVezu" class="btn btn-outline-dark" style="margin-top: 5px;"><ion-icon name="trash-outline" style="vertical-align:-2px;"></ion-icon></button>
                            </div>
                        }
                    }
                </div>
            }

            <button type="submit" class="btn btn-primary sacuvaj" id="Sacuvajbtn" asp-page-handler="SacuvajApoteku" hidden>Sacuvaj</button>
        </form>

    </div>
</div>

<script src="~/temp/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        
        $("#Izmenibtn").click(function () {
            var r = document.getElementsByClassName("izmena");
            for (var i = 0; i < r.length; i++) {
                r[i].removeAttribute("disabled");
            }
            var sacuvaj = document.getElementsByClassName("sacuvaj");
            for (var i = 0; i < sacuvaj.length; i++) {
                sacuvaj[i].removeAttribute("hidden");
            }
        });
    });

    function dodajLokaciju() {
        var brLok = document.getElementById('brLok').innerHTML;
        brLok++;
        document.getElementById('brLok').innerHTML = brLok;

        var broj = document.getElementById('broj');
        broj.value = brLok;

        var tbl = "";
        tbl += "<tr>" +
            "<td>" +
            "<input type='text' id='" + brLok + "' class=" + " form-control" + " name='NoviGradovi' />" +
            "</td>" +
            "<td>" +
            "<input type='text' id='a_" + brLok + "' class=" + " form-control" + " name='NoveAdrese'/>" +
            "</td>" +
            "<td>" +
            "<input type='text' id='b_" + brLok + "' class=" + " form-control" + " name='NoviBrojevi'/>" +
            "</td>" +
            " <td>" +
            " <button type='button' onclick='obrisi(" + brLok + ",this)' class='btn btn-outline-dark' style='margin-top: 5px;'><ion-icon name='trash-outline' style='vertical-align:-2px;'></ion-icon></button>" +
            "</td>" +
            "</tr>";

        $('#tbody').append(tbl);

    }

    function obrisi(idLok, dugme) {
        var brLok = document.getElementById('brLok').innerHTML;
        brLok--;
        document.getElementById('brLok').innerHTML = brLok;

        var broj = document.getElementById('broj');
        broj.value = brLok;


        var grad = document.getElementById(idLok);
        var adresa = document.getElementById("a_" + idLok);
        var broj = document.getElementById("b_" + idLok);

        grad.setAttribute('id', "obrisano");
        adresa.setAttribute('id', "obrisan");
        broj.setAttribute('id', "obrisani");

        grad.hidden = true;

        adresa.hidden = true;
        broj.hidden = true;
        dugme.hidden = true;
    }
</script>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });
</script>
